<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-adsense-account" content="ca-pub-1468470179485726">
    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/v4-shims.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>

    <title>Info Page</title>
</head>

<body class="h-14 bg-gradient-to-r from-sky-500 to-indigo-500">
    <section class="text-rose-900 font-bold overflow-hidden">
        <div class="container px-5 py-10 mx-auto">
            <div class="flex flex-col text-center w-full mb-20">
                <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-rose-900">Here is the love calculator
                    algorithm explained</h1>
                <p class="lg:w-2/3 mx-auto leading-relaxed text-base text-rose-900 ">In order for the algorithm to work
                    it combines two names and the word "loves". For this example we will use names "Mary" and "James" so
                    the combined text for the calculation is "Mary Loves James" </p>
                    
            </div>
            
            <div class="flex relative pb-20 sm:items-center md:w-2/3 mx-auto">
                <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
                    <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
                </div>
                <div
                    class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-rose-900 text-white relative z-10 title-font font-medium text-sm">
                    1</div>
                <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
                    <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
                        <h2 class=" title-font font-bold mb-1 text-xl">Step 1</h2>
                        <p class="leading-relaxed">
                        <ul style="list-style-type:disc;">
                            <li>Count all the letters from left to right and write down the number</li>
                            <li>First one is "M" and it appears twice, so we write down 2</li>
                            <li>Next is "A" and it also appears twice, write down 2</li>
                            <li>Don’t repeat letters (on paper strike the ones you have counted) and continue to the end
                            </li>
                            <li>You should get 2211111221</li>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="flex relative pb-20 sm:items-center md:w-2/3 mx-auto">
                <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
                    <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
                </div>
                <div
                    class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-rose-900 text-white relative z-10 title-font font-medium text-sm">
                    2</div>
                <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">
                    <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
                        <h2 class=" title-font font-bold mb-1 text-xl">Step 2</h2>
                        <p class="leading-relaxed">
                        <ul style="list-style-type:disc;">
                            <li>The second part is getting the shorter version of the number</li>
                            <li>You do this by adding the leftmost and rightmost numbers together</li>
                            <li>The first pair is 2 + 1 and write down the sum of the two numbers (in our case 3), next
                                2 + 2, 1 + 2…, continue this till you reach the middle, if there is only one number
                                left, write it down, otherwise sum both numbers</li>
                            <li>Again you should strike the numbers you add together (one from the left and one from the
                                right)</li>
                            <li>If you get a number greater than or equal to 10 write it separately and add them also</li>
                            <li>You should get 34322</li>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="flex relative pb-20 sm:items-center md:w-2/3 mx-auto">
                <div class="h-full w-6 absolute inset-0 flex items-center justify-center">
                    <div class="h-full w-1 bg-gray-200 pointer-events-none"></div>
                </div>
                <div
                    class="flex-shrink-0 w-6 h-6 rounded-full mt-10 sm:mt-0 inline-flex items-center justify-center bg-rose-900 text-white relative z-10 title-font font-medium text-sm">
                    3</div>
                <div class="flex-grow md:pl-8 pl-6 flex sm:items-center items-start flex-col sm:flex-row">

                    <div class="flex-grow sm:pl-6 mt-6 sm:mt-0">
                        <h2 class=" title-font mb-1 text-xl">Step 3</h2>
                        <p class="leading-relaxed">
                        <ul style="list-style-type:disc;">
                            <li>The second part is getting the shorter version of the numberNext step is repeating step
                                2 until you get only two numbers</li>
                            <li>For our example, this is two more times</li>
                            <li>So you should get 563 for the first iteration</li>
                            <li>And the result should be 86</li>
                            <li>The result should always have two numbers (except 100)</li>
                            <li>The result is 86%</li>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
            <div class="container px-5 py-10 mx-auto">
                <hr style="background:#881337  ; height:3px">
                <br>
                <div class="flex flex-col text-center w-full mb-20">
                    <h1 class="sm:text-4xl text-3xl font-medium title-font mb-2 text-rose-900">Languages Used in this
                        Project</h1>
                </div>
                <div
                    class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
                    <div
                        class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-yellow-500 flex-shrink-0">
                        <i class="fab fa-python fa-5x sm:fa-2x"></i>
                    </div>
                    <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
                        <h2 class="text-rose-900 font-bold text-lg title-font font-medium mb-2"><strong>Python</strong>
                            - For Backend</h2>
                        <p class="leading-relaxed text-base">
                            All the Backend logic is written using Python Flask framework.<br>Flask is a lightweight
                            python framework for web application.
                            <a class="mt-3 text-rose-900 inline-flex items-center"
                                href="https://flask.palletsprojects.com/en/2.0.x/">Learn More
                                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                                </svg>
                            </a>
                        </p>
                    </div>
                </div>
                <div
                    class="flex items-center lg:w-3/5 mx-auto border-b pb-10 mb-10 border-gray-200 sm:flex-row flex-col">
                    <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
                        <h2 class="text-rose-900 text-lg title-font font-medium mb-2"><strong>HTML </strong>
                            - For Frontend(Structure)</h2>
                        <p class="leading-relaxed text-base">Simple Html code we all know.<br> But in the case we don't
                            remember it!!</p>
                        <a class="mt-3 text-rose-900 inline-flex items-center"
                            href="https://www.w3schools.com/html/">Learn More
                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                                <path d="M5 12h14M12 5l7 7-7 7"></path>
                            </svg>
                        </a>
                    </div>
                    <div
                        class="sm:w-32 sm:order-none order-first sm:h-32 h-20 w-20 sm:ml-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-orange-500 flex-shrink-0">
                        <i class="fa fa-html5 fa-4x sm:fa-2x" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="flex items-center lg:w-3/5 mx-auto sm:flex-row flex-col">
                    <div
                        class="sm:w-32 sm:h-32 h-20 w-20 sm:mr-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 flex-shrink-0">
                        <i class="fa fa-css3 fa-4x sm:fa-2x" aria-hidden="true"></i>
                    </div>
                    <div class="flex-grow sm:text-left text-center mt-6 sm:mt-0">
                        <h2 class="text-rose-900 text-lg title-font font-medium mb-2"><strong>Tailwind Css </strong>
                            - For Frontend(Styling)</h2>
                        <p class="leading-relaxed text-base">
                            Tailwindcss is the popular HTML, CSS, and JS framework for developing responsive, mobile
                            first projects on the web.<br>
                        </p>

                        <a class="mt-3 text-rose-900 inline-flex items-center" href="https://tailwindcss.com/">Learn
                            More
                            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                                <path d="M5 12h14M12 5l7 7-7 7"></path>
                            </svg>
                        </a>
            
                    </div>
                </div>

    </section>



    <footer class="text-gray-600 body-font ">

        <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
            <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
                <i class="fa fa-heart" style="font-size:48px;color:#881337"></i>
                <span class="ml-3 text-xl text-rose-900">Love Calculator by Om Surti</span>
            </a>
            <p class="text-sm text-gray-900 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">©
                2021 Love Calculator —
                <a href="#" class="text-gray-900 ml-1" rel="noopener noreferrer"
                    target="_blank">@Om_Surti</a>
            </p>
            <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
                <a href="/">
                    <button
                        class="text-white bg-rose-900 border-0 py-2 px-8 focus:outline-none hover:bg-rose-900 rounded">
                        <i class="fab fa-python"></i> Home
                    </button>
                </a>
            </span>
        </div>
    </footer>

</body>

</html>
